<div class="tech-container">
  <div class="detail-container">
    <div class="tech-header">
      <div class="title">
        Javascript
      </div>
      <div class="progress-bar">

        <app-svg-viewer></app-svg-viewer>
      </div>
    </div>
    <div class="description">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
</div>
