<!--<section class="section">-->
<!--<div class="grid">-->
<!--<div *ngFor="let pic of courseObservable | async" class="item item&#45;&#45;medium" [style.backgroundImage]="'url('+ pic.url +')'">-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<ul>
  <!--<li *ngFor="let country of countries">-->
  <!--<a href="javascript:;" (click)="folder = country">-->
  <!--{{country}}-->
  <!--{{folder}}-->
  <!--</a>-->
  <!--</li> -->
  <li *ngFor="let country of countries">
    <a href="javascript:;" (click)="countrySelected(country)">
      {{country}}
    </a>
  </li>
</ul>

<section class="section">
  <div class="grid" *ngIf="picLinkArr.length === 10">
    <!--<div  *ngFor="let i of pictures; let idx = index;" class="item"-->
    <!--[ngClass]="{'item&#45;&#45;small': idx%2===0, 'item&#45;&#45;medium':  idx%3===0, 'item&#45;&#45;large':  idx%5===0, 'item&#45;&#45;full': idx%7===0}">-->
    <!--<div [style.backgroundImage]="'url('+generateUrl(idx)+')'"> -->
    <div *ngFor="let i of picLinkArr; let idx = index;" class="item"
         [ngClass]="{'item--small': idx%2===0, 'item--medium':  idx%3===0, 'item--large':  idx%5===0, 'item--full': idx%7===0}">

      <div *ngIf="i" [style.backgroundImage]="'url('+i+')'">
      </div>
    </div>

  </div>
</section>
