.nav-bg {
  background: #000;
}

.nav-link.home img {
  width: 45px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
  &:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
