<div *ngIf="selectedCountryPics.length">
  <app-gallery-viewer [countryName]="selectedCountry.toUpperCase()" [countryPics]="selectedCountryPics" [loaded]="loaded"
                      (countryClicked)="displayGallery($event)"></app-gallery-viewer>
</div>

<!--<ul>-->
<!--<li *ngFor="let country of countriesMock">-->
<!--&lt;!&ndash;<a href="javascript:;" (click)="countrySelected(country)">&ndash;&gt;-->
<!--<a href="javascript:;" (click)="countrySelectedMock(country.toUpperCase())">-->
<!--{{country}}-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->

<!--<section class="section">-->
<!--<div class="grid">-->
<!--<div *ngFor="let pic of courseObservable | async" class="item item&#45;&#45;medium" [style.backgroundImage]="'url('+ pic.url +')'">-->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<!--<section class="section">-->
<!--<div class="grid" *ngIf="picLinkArr.length === 10">-->
<!--&lt;!&ndash;<div  *ngFor="let i of pictures; let idx = index;" class="item"&ndash;&gt;-->
<!--&lt;!&ndash;[ngClass]="{'item&#45;&#45;small': idx%2===0, 'item&#45;&#45;medium':  idx%3===0, 'item&#45;&#45;large':  idx%5===0, 'item&#45;&#45;full': idx%7===0}">&ndash;&gt;-->
<!--&lt;!&ndash;<div [style.backgroundImage]="'url('+generateUrl(idx)+')'"> &ndash;&gt;-->
<!--<div *ngFor="let i of picLinkArr; let idx = index;" class="item"-->
<!--[ngClass]="{'item&#45;&#45;small': idx%2===0, 'item&#45;&#45;medium':  idx%3===0, 'item&#45;&#45;large':  idx%5===0, 'item&#45;&#45;full': idx%7===0}" [style.backgroundImage]="'url('+i+')'">-->
<!--&lt;!&ndash;<div *ngIf="i" [style.backgroundImage]  ="">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

