<ul>
  <li *ngFor="let country of countriesMock">
    <!--<a href="javascript:;" (click)="countrySelected(country)">-->
    <a href="javascript:;" (click)="countrySelectedMock(country.toUpperCase())">
      {{country}}
    </a>
  </li>
</ul>


<div class="grid">
  <mat-progress-spinner [value]="75" [strokeWidth]="10" [diameter]="50" [mode]="'indeterminate'" [color]="'primary'"
                        *ngIf="!loaded"></mat-progress-spinner>
  <ng-container *ngIf="loaded">
    <div class="column" *ngFor="let i of picLinkArr; let idx = index;">
        <img [src]="i">
    </div>
  </ng-container>
  <div>
  </div>
</div>

<!--<section class="section">-->
<!--<div class="grid">-->
<!--<div *ngFor="let pic of courseObservable | async" class="item item&#45;&#45;medium" [style.backgroundImage]="'url('+ pic.url +')'">-->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<!--<section class="section">-->
<!--<div class="grid" *ngIf="picLinkArr.length === 10">-->
<!--&lt;!&ndash;<div  *ngFor="let i of pictures; let idx = index;" class="item"&ndash;&gt;-->
<!--&lt;!&ndash;[ngClass]="{'item&#45;&#45;small': idx%2===0, 'item&#45;&#45;medium':  idx%3===0, 'item&#45;&#45;large':  idx%5===0, 'item&#45;&#45;full': idx%7===0}">&ndash;&gt;-->
<!--&lt;!&ndash;<div [style.backgroundImage]="'url('+generateUrl(idx)+')'"> &ndash;&gt;-->
<!--<div *ngFor="let i of picLinkArr; let idx = index;" class="item"-->
<!--[ngClass]="{'item&#45;&#45;small': idx%2===0, 'item&#45;&#45;medium':  idx%3===0, 'item&#45;&#45;large':  idx%5===0, 'item&#45;&#45;full': idx%7===0}" [style.backgroundImage]="'url('+i+')'">-->
<!--&lt;!&ndash;<div *ngIf="i" [style.backgroundImage]  ="">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

